<html>
    <body>
        <form action="/registrati">
            <label for="email">Email:</label><br>
            <input type="email" id="email" name="email" required><br>
            <label for="CF">Codice Fiscale:</label><br>
            <input type="text" id="CF" name="CF" required><br>
            <label for="passw">Password:</label><br>
            <input type="password" id="passw" name="passw" required><br>
            <input type="submit" value="Registrati">
        </form>
    </body>
</html>